/*encabezado*/

.informe-compras .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid gainsboro;
  padding-bottom: 10px;
}
.informe-compras .encabezado > div > * {
  margin: 10px;
}
.informe-compras .encabezado .botones {
  display: flex;
  flex-direction: column;
}
.informe-compras {
  text-align: center;
  padding-top: 20px;
}

/*Cuerpo*/

.informe-compras .cuerpo {
  margin: 20px 50px;
}
