/*encabezado*/

.facturas-compras .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid gainsboro;
  padding-bottom: 10px;
  min-width: 100%;
}
.facturas-compras .encabezado {
  padding: 10px;
}
.facturas-compras .encabezado .botones {
  display: flex;
  flex-direction: column;
}
.facturas-compras {
  text-align: center;
  padding-top: 20px;
}

/*Cuerpo*/

.facturas-compras .cuerpo {
  margin: 20px 50px;
}

/*pie*/
.facturas-compras .pie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.facturas-compras .pie > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.facturas-compras .pie > div > * {
  margin: 5px;
}

.facturas-compras .pie .ant-typography {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

/*Formato de factura*/

.formato-facturacompra>* {
  font-family:Verdana;
  color:black;
}
.formato-facturacompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  
}
.formato-facturacompra .encabezado > * {
  padding: 0;
  margin: 0;
}

.formato-facturacompra .encabezado> div {
  font-weight: bold;
  font-size:15px;
}
.formato-facturacompra .cuerpo {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.formato-facturacompra .cuerpo > div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
}

.formato-facturacompra .cuerpo .columnas{
 padding-top: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 10px;
 color:black;
border-top:  0.1px solid black;
border-bottom:  0.1px solid black;
}
.formato-facturacompra .cuerpo .fila{
 font-size: 8px;
 color:black;
 word-wrap:break-word;
 font-weight: none;
 margin-top: 10px;
 margin-bottom: 10px;
}
.formato-facturacompra .pie {
  padding-top: 10px;
  margin-top: 10px;
  border-top:  0.1px solid black;
  width: 100%;
}
.formato-facturacompra .pie h4 {
  text-align: left;
  padding: 0;
  margin: 0;
}
.formato-facturacompra .pie h4 span {
  font-weight: bold;
}