/*encabezado*/

.facturas-compras .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid gainsboro;
  padding-bottom: 10px;
  min-width: 100%;
}
.facturas-compras .encabezado {
  padding: 10px;
}
.facturas-compras .encabezado .botones {
  display: flex;
  flex-direction: column;
}
.facturas-compras {
  text-align: center;
  padding-top: 20px;
}

/*Cuerpo*/

.facturas-compras .cuerpo {
  margin: 20px 50px;
}

/*pie*/
.facturas-compras .pie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.facturas-compras .pie > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.facturas-compras .pie > div > * {
  margin: 5px;
}

.facturas-compras .pie .ant-typography {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
