/*encabezado*/

.clientes .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid gainsboro;
  padding: 10px;
}
.clientes .encabezado .ant-input-group-wrapper {
  max-width: 70%;
  margin-left: 30px;
}
.clientes {
  padding-top: 20px;
}
.clientes > h1 {
  text-align: center;
}
/*Cuerpo*/

.clientes .cuerpo {
  margin: 20px 50px;
}

/*pie*/

.clientes .pie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.clientes .pie > div {
  display: flex;
  flex-direction: row;
}
.clientes .pie > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  font-size: 20px;
}
