.tabla-datos {
  margin: 5%;
}

.tabla-datos button {
  margin-top: -10px;
}

.tabla-datos .encabezado {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-evenly;
}
