/*encabezado*/

.ajustes-inventario .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid gainsboro;
  padding-bottom: 10px;
  min-width: 100%;
  padding: 10px;
}
.ajustes-inventario .encabezado .botones {
  display: flex;
  flex-direction: column;
}
.ajustes-inventario {
  text-align: center;
  padding-top: 20px;
}

/*Cuerpo*/

.ajustes-inventario .cuerpo {
  margin: 20px 50px;
}

/*pie*/

.ajustes-inventario .pie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ajustes-inventario .pie > div {
  display: flex;
  flex-direction: row;
}
.ajustes-inventario .pie > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  font-size: 20px;
}
